.outerBox {
  display: block;
  margin-top: 40px;
  padding: 65px 0;
}

@media (max-width: 768px) {
  .outerBox {
    display: block;
    margin-top: 0;
    padding: 0;
  }
}

.companyLink {
  text-decoration: none;
  font-size: 16px;
  display: block;
  color: gainsboro;
  text-align: center;
}

.companyLink:hover {
  font-weight: 600;
  color: #fff;
}

.btnTop {
  border-radius: 0;
  padding: 10px 10px 11px;
  font-size: 14px;
  line-height: 28px;
  color: #707070;
  border: 1px solid #e5e5e5;
}

.active {
  border-top-left-radius: 4px;
  color: #000;
  font-weight: 600;
  border-bottom: 2px solid #6666c4;
  white-space: nowrap;
}
